## # Introduction
<p><img src="https://assets.datacamp.com/production/project_981/img/lego_unsplash.jpg" alt="A picture of Lego characters!"></p>
<h3 id="letslookatlegosets">Let's look at Lego sets!</h3>
<p>Lego is a household name across the world, supported by a diverse toy line, hit movies, and a series of successful video games. In this project, we are going to explore a key development in the history of Lego: the introduction of licensed sets such as Star Wars, Super Heroes, and Harry Potter.</p>
<p>It may not be widely known, but Lego has had its share of ups and downs since its inception in the early 20th century. This includes a particularly rough period in the late 90s. As described in <a href="https://www.businessinsider.com/how-lego-made-a-huge-turnaround-2014-2?r=US&IR=T">this article</a>, Lego was only able to survive due to a successful internal brand (Bionicle) and the introduction of its first licensed series: Star Wars. In the instructions panel are the two questions you will need to answer to complete this project.</p>
<p>Before diving into our analysis though, let's become familiar with the two datasets that will help you with this project:<br><br></p>
<div style="background-color: #ebf4f7; color: #595959; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:20px"><b>datasets/lego_sets.csv</b></div>
<ul>
    <li><b>set_num:</b> A code that is unique to each set in the dataset. <b><i>This column is critical, and a missing value indicates the set is a duplicate or invalid!</i></b></li>
    <li><b>set_name:</b> A name for every set in the dataset (note that this can be the same for different sets).</li>
    <li><b>year:</b> The date the set was released.</li>
    <li><b>num_parts:</b> The number of parts contained in the set.<b><i> This column is not central to our analyses, so missing values are acceptable.</i></b></li>
        <li><b>theme_name:</b> The name of the sub-theme of the set.</li>
    <li><b>parent_theme:</b> The name of the parent theme the set belongs to. Matches the `name` column of the `parent_themes` csv file.</li>
</ul>

<div style="font-size:20px"><b>datasets/parent_themes.csv</b></div>
<ul>
    <li><b>id:</b> A code that is unique to every theme.</li>
    <li><b>name:</b> The name of the parent theme.</li>
    <li><b>is_licensed:</b> A Boolean column specifying whether the theme is a licensed theme.</li>
</ul>
    </div>
<p>From here on out, it will be your task to explore and manipulate the existing data until you are able to answer the two questions described in the instructions panel. Feel free to add as many cells as necessary. Finally, remember that you are only tested on your answer, not on the methods you use to arrive at the answer!</p>
<p><em><strong>Note:</strong> If you haven't completed a DataCamp project before you should check out the <a href="https://projects.datacamp.com/projects/33">Intro to Projects</a> first to learn about the interface. In this project, you also need to know your way around <code>pandas</code> DataFrames and it's recommended that you take a look at the course <a href="https://www.datacamp.com/courses/data-manipulation-with-pandas">Data Manipulation with pandas</a>.</em></p>

In [1]:
# Use this cell to begin your analyses, and add as many cells as you would like!

In [20]:
# imports 
import pandas as pd

In [21]:
# get all 
all_sets = pd.read_csv('datasets/lego_sets.csv')
all_themes = pd.read_csv('datasets/parent_themes.csv')

In [30]:
all_sets

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space
...,...,...,...,...,...,...
11981,NaN,NaN,2014,NaN,NaN,Minecraft
11982,NaN,NaN,2006,NaN,NaN,Super Heroes
11983,NaN,NaN,2017,NaN,NaN,Minecraft
11984,NaN,NaN,2017,8.0,NaN,Super Heroes
11985,NaN,NaN,2003,NaN,NaN,Harry Potter

In [31]:
all_themes

      id          name  is_licensed
0      1       Technic        False
1     22       Creator        False
2     50          Town        False
3    112        Racers        False
4    126         Space        False
..   ...           ...          ...
106  605  Nexo Knights        False
107  606   Angry Birds         True
108  607  Ghostbusters         True
109  608        Disney         True
110  610    Brickheadz        False

[111 rows x 3 columns]

In [4]:
# Drop NaN for set_num
all_sets_set_num_notna = all_sets[all_sets['set_num'].notna()]
# Drop duplicated set_num if any
all_sets_set_num_notna.drop_duplicates(['set_num'], inplace = True)
# Merges sets w. Theme data
all_sets_merged_clean = pd.merge(all_sets_set_num_notna,all_themes, left_on = 'parent_theme', right_on = 'name')

# small amount of possible values ~ 100, validate if Star Wars doesn't have
# more than 1 entry
pd.set_option('display.max_rows', None) 
all_sets_merged_clean['parent_theme'].value_counts()
pd.set_option('display.max_rows', 20)

<ipython-input-4-5d367510c718>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_sets_set_num_notna.drop_duplicates(['set_num'], inplace = True)

In [5]:
# What percentage of all licensed sets ever released were Star Wars themed?

licensed_sets = all_sets_merged_clean[(all_sets_merged_clean['is_licensed'] == True)]

star_wars_sets = all_sets_merged_clean[(all_sets_merged_clean['is_licensed'] == True) &
                      (all_sets_merged_clean['parent_theme'] == 'Star Wars')]

# Get all licencesed Star Wars Sets 
num_of_SW_sets = star_wars_sets.shape[0]

num_of_licenced_sets = licensed_sets.shape[0]

# Get Proprotion of all set which were SW-based
prop_SW_sets = num_of_SW_sets/num_of_licenced_sets

the_force = int(prop_SW_sets*100)
print(the_force)

51

In [55]:
# 2. In which year was Star Wars not the most popular licensed theme (in terms of number of sets released that year)?
l_theme_year_counts = licensed_sets.groupby(['year','parent_theme'])[['set_num']].count()
l_popular_count = l_theme_year_counts.groupby('year').max() # most popular license set per year count

l_theme_year_counts.reset_index(inplace=True)

l_theme_max_sets_per_y = pd.merge(l_theme_year_counts, l_popular_count, on =['year','set_num'])

l_theme_max_sets_per_y[l_theme_max_sets_per_y['parent_theme'] != 'Star Wars']

    year  parent_theme  set_num
18  2017  Super Heroes       72

In [9]:
# 3. Break-down number of sets by year

In [18]:
set_per_year = all_sets_merged_clean.groupby('year')['set_num'].count() 
pd.DataFrame(set_per_year)

      set_num
year
1950        7
1953        4
1954       14
1955       28
1956       12
...       ...
2013      593
2014      715
2015      670
2016      608
2017      438

[66 rows x 1 columns]